# Created by .gitignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format
.idea/
/*.iml

## composer files
composer.phar
application/composer.lock
application/web/theme/resources/product-images
sitemap.xml
