@import "variables";
@import "one-row-header-with-cart";
@import "adaptive";

a {
  color: $action_color;
}
a:hover, a:focus {
  color: $action_hover_color;
}
.breadcrumb {
  background-color: #fafafa;
}

header {
  background-color: $header_color;
  color: $header_navigation_color;
  a, a:visited, a:active, a:hover, a:focus {
    color: $header_navigation_color;
  }
}

.subheader {
  background-color: $subheader_color;
}

body, .content, #content {
  color: $content_text_color;
}

.btn {
  color: $action_text_color;
}

.btn-primary {
  background-color: $action_color;
  border-color: darken($action_color, 10%);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: darken($action_color, 10%);
  border-color: darken($action_color, 20%);
}

header .nav {
  .navigation-widget {
    list-style: none;
    padding-left: 0;
  }
  .navigation-widget li {
    float: left;
  }

}

.link-cabinet {
  font-weight: bold;
}
.sidebar-widget {
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;

  .widget-header {
    font-weight: bold;
    font-size: 120%;
    border-bottom: 1px solid #eee;
  }
}
.categories-list.sidebar-widget {
  &>ul {
    list-style: none;
    padding-left: 0;
  }
  a {
    color: $sidebar_link_color;
    font-weight: bold;
    display: block;
    &:hover, &:focus{
      color: $sidebar_link_hover_color;
    }
  }
}
.sidebar-widget.pages-list-widget {
  .pages-list {
    list-style: none;
    padding-left: 0;
  }
}