/* line 6, ../sass/floating-panel.scss */
#dotplant-floating-panel {
  position: fixed;
  top: 0;
  height: 50px;
  min-height: 50px;
  margin-bottom: 0;
  border-radius: 0;
  width: 100%;
  z-index: 999999;
  background: #222222;
  border-bottom: 1px solid #a2a2a2;
  color: white;
}
/* line 21, ../sass/floating-panel.scss */
#dotplant-floating-panel .navbar-nav a, #dotplant-floating-panel .navbar-nav a:visited {
  color: white;
}
/* line 23, ../sass/floating-panel.scss */
#dotplant-floating-panel .navbar-nav a:hover, #dotplant-floating-panel .navbar-nav a:visited:hover {
  color: #000;
}
/* line 28, ../sass/floating-panel.scss */
#dotplant-floating-panel.dotplant-floating-panel-bottom {
  top: auto;
  bottom: 0;
}

/* line 34, ../sass/floating-panel.scss */
body {
  padding-top: 51px;
}
/* line 36, ../sass/floating-panel.scss */
body.fixed-header #dotplant-floating-panel {
  display: none;
}
