@import "compass";
@import "default-theme-coloring";
@import "one-row-header-with-cart";
@import "adaptive";

header {
  background-color: $header_color;
  color: $header_navigation_color;
  a, a:visited, a:active, a:hover {
    color: $header_navigation_color;
  }
}

.subheader {
  background-color: $subheader_color;
}

body, .content, #content {
  color: $content_text_color;
}

.btn {
  color: $action_text_color;
}

.btn-primary {
  background-color: $action_color;
}

header .nav {
  .navigation-widget {
    list-style: none;
    padding-left: 0;
  }
  .navigation-widget li {
    float: left;
  }

}

.link-cabinet {
  font-weight: bold;
}