<?php

return [
    'components' => [
        'view' => [
            'theme' => [
                'pathMap' => [
                    '@app/views' => '@webroot/{%theme-name%}/views/modules/basic',
                    '@app/modules/shop/views' => '@webroot/{%theme-name%}/views/modules/shop',
                    '@app/modules/page/views' => '@webroot/{%theme-name%}/views/modules/page',
                    '@app/widgets' => '@webroot/{%theme-name%}/views/widgets',
                ],
                'baseUrl' => '@webroot/{%theme-name%}/views',
            ],
        ],
    ],
    'modules' => [
        'site' => [
            'class' => 'app\web\theme\module\ThemeModule'
        ]
    ],
    'bootstrap' => [
        'site',
    ],
];
