
#actions {
    margin: 2em 0;
}


/* Mimic table appearance */
div.table {
    display: table;
}
div.table .file-row {
    display: table-row;
}
div.table .file-row > div {
    display: table-cell;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding: 8px;
}
div.table .file-row:nth-child(odd) {
    background: #f9f9f9;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

.custom-dz .dz-success-mark,
.custom-dz .dz-error-mark {
    display: none;
}
.custom-dz .dz-success-mark span,
.custom-dz .dz-error-mark span {
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}
.custom-dz .dz-progress {
    display: none;
}
.custom-dz .dz-success-mark {
    color: #8cc657;
}
.custom-dz .dz-error-mark {
    color: #ee162d;
}

.custom-dz .dz-error .dz-error-mark {
    display: block;
}
.custom-dz .dz-success .dz-success-mark {
    display: block;
}
.custom-dz .dz-processing .dz-progress {
    display: block;
}