/*
Syntax error: File to import not found or unreadable: compass.
              Load path: /var/www/dotplant2.dev/application/assets/app/sass
        on line 1 of default-theme.scss

1: @import "compass";
2: @import "default-theme-coloring";
3: @import "one-row-header-with-cart";
4: @import "adaptive";
5: 
6: header {

Backtrace:
default-theme.scss:1
/usr/lib/ruby/vendor_ruby/sass/tree/import_node.rb:67:in `rescue in import'
/usr/lib/ruby/vendor_ruby/sass/tree/import_node.rb:45:in `import'
/usr/lib/ruby/vendor_ruby/sass/tree/import_node.rb:28:in `imported_file'
/usr/lib/ruby/vendor_ruby/sass/tree/import_node.rb:37:in `css_import?'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:217:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:315:in `_render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:262:in `render'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:362:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:201:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:81:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:439:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:326:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:21:in `parse!'
/usr/bin/scss:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass.\A               Load path: /var/www/dotplant2.dev/application/assets/app/sass\A         on line 1 of default-theme.scss\A \A 1: @import \"compass\";\A 2: @import \"default-theme-coloring\";\A 3: @import \"one-row-header-with-cart\";\A 4: @import \"adaptive\";\A 5: \A 6: header {"; }
