/* line 14, ../sass/one-row-header-with-cart.scss */
header.one-row-header-with-cart .nav {
  float: left;
  padding-top: 14px;
}
/* line 18, ../sass/one-row-header-with-cart.scss */
header.one-row-header-with-cart .nav .navigation-widget {
  padding-left: 20px;
}
/* line 22, ../sass/one-row-header-with-cart.scss */
header.one-row-header-with-cart .nav li > a {
  display: block;
  padding: 6px 4px;
}
/* line 25, ../sass/one-row-header-with-cart.scss */
header.one-row-header-with-cart .nav li > a:hover {
  text-decoration: none;
  background-color: #20638f;
}
/* line 31, ../sass/one-row-header-with-cart.scss */
header.one-row-header-with-cart .personal-area {
  padding: 8px 0;
}
/* line 34, ../sass/one-row-header-with-cart.scss */
header.one-row-header-with-cart .personal-area .btn-show-cart {
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 6px;
  color: #ecf0f1;
}
/* line 7, ../sass/one-row-header-with-cart.scss */
header.one-row-header-with-cart .personal-area .btn-show-cart:hover {
  border-color: white;
  color: white;
}
/* line 39, ../sass/one-row-header-with-cart.scss */
header.one-row-header-with-cart .personal-area .btn-show-cart .cart-icon {
  font-size: 200%;
}
/* line 43, ../sass/one-row-header-with-cart.scss */
header.one-row-header-with-cart .personal-area .btn-show-cart .badge {
  right: 0;
  top: -4px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 51, ../sass/one-row-header-with-cart.scss */
header.one-row-header-with-cart .nav-sm-open {
  margin: 4px;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 200%;
  float: left;
}
/* line 7, ../sass/one-row-header-with-cart.scss */
header.one-row-header-with-cart .nav-sm-open:hover {
  border-color: white;
  color: white;
}

@media (min-width: 768px) {
  /* line 9, ../sass/adaptive.scss */
  .nav-sm-open, .nav-sm-close {
    display: none;
  }

  /* line 12, ../sass/adaptive.scss */
  .nav.collapse {
    display: block;
  }
}
@media (max-width: 767px) {
  /* line 18, ../sass/adaptive.scss */
  header .nav.collapse, header .nav.collapsing {
    display: none;
    position: absolute;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #2980b9;
    z-index: 2;
    padding-top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* line 20, ../sass/adaptive.scss */
  header .nav.collapse.in, header .nav.collapsing.in {
    display: block;
  }
  /* line 33, ../sass/adaptive.scss */
  header .nav.collapse .navigation-widget, header .nav.collapsing .navigation-widget {
    width: 100%;
    padding: 6px;
  }
  /* line 36, ../sass/adaptive.scss */
  header .nav.collapse .navigation-widget li, header .nav.collapsing .navigation-widget li {
    float: none;
    display: block;
  }
  /* line 41, ../sass/adaptive.scss */
  header .nav.collapse .nav-sm-close, header .nav.collapsing .nav-sm-close {
    position: absolute;
    bottom: 20px;
    width: 50px;
    height: 50px;
    font-size: 32px;
    left: 50%;
    margin-left: -20px;
    text-align: center;
    padding: 0px;
  }
}
/* line 5, ../sass/default-theme.scss */
header {
  background-color: #2980b9;
  color: #ecf0f1;
}
/* line 8, ../sass/default-theme.scss */
header a, header a:visited, header a:active, header a:hover {
  color: #ecf0f1;
}

/* line 13, ../sass/default-theme.scss */
.subheader {
  background-color: #164666;
}

/* line 17, ../sass/default-theme.scss */
body, .content, #content {
  color: #404148;
}

/* line 21, ../sass/default-theme.scss */
.btn {
  color: #ecf0f1;
}

/* line 25, ../sass/default-theme.scss */
.btn-primary {
  background-color: #d1404a;
}

/* line 30, ../sass/default-theme.scss */
header .nav .navigation-widget {
  list-style: none;
  padding-left: 0;
}
/* line 34, ../sass/default-theme.scss */
header .nav .navigation-widget li {
  float: left;
}

/* line 40, ../sass/default-theme.scss */
.link-cabinet {
  font-weight: bold;
}

/*# sourceMappingURL=default-theme.css.map */
