.table-condensed.table > tbody > tr.psv-tr > td {
  padding: 0 !important;
}

.properties-body .sort-handle, .properties-body .psv-sort-handle {
  padding: 4px;
  background: #fff;
  cursor: move;
  margin: 2px;
  display: block;
  text-align: center;
}
.properties-body .sort-handle:hover, .properties-body .psv-sort-handle:hover {
  background: #eee;
}
