/* line 3, ../sass/nested-content-editor.scss */
.nested-content .work-area .selected-block {
  box-shadow: 0px 0px 10px #36a;
}

/* line 10, ../sass/nested-content-editor.scss */
.nested-content-editor {
  width: 100%;
  min-height: 200px;
}
/* line 13, ../sass/nested-content-editor.scss */
.nested-content-editor .edit-area {
  padding-bottom: 40px;
}
/* line 15, ../sass/nested-content-editor.scss */
.nested-content-editor .edit-area .placeholder {
  height: 20px;
  background: #fee;
  clear: both;
}
/* line 21, ../sass/nested-content-editor.scss */
.nested-content-editor .b-block {
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
}
/* line 26, ../sass/nested-content-editor.scss */
.nested-content-editor .b-content {
  clear: both;
}
/* line 28, ../sass/nested-content-editor.scss */
.nested-content-editor .b-content:hover {
  border: 1px dotted #e1e1a6;
  background: #fbfbf2;
}
/* line 32, ../sass/nested-content-editor.scss */
.nested-content-editor .b-content:before {
  content: '';
  clear: both;
}
/* line 37, ../sass/nested-content-editor.scss */
.nested-content-editor .controls {
  display: none;
  background: #ccc;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  position: absolute;
  left: 50%;
  top: -10px;
  padding: 2px;
  border-radius: 4px;
}
/* line 48, ../sass/nested-content-editor.scss */
.nested-content-editor .controls .handle {
  padding: 0 2px;
  cursor: move;
  float: left;
}
/* line 53, ../sass/nested-content-editor.scss */
.nested-content-editor .controls .handle:before {
  content: "\f0c9";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 68, ../sass/nested-content-editor.scss */
.nested-content-editor .controls .remove {
  padding: 0 2px;
  cursor: pointer;
  color: #d9534f;
  float: left;
  margin-left: 10px;
}
/* line 74, ../sass/nested-content-editor.scss */
.nested-content-editor .controls .remove:before {
  content: "\f014";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 87, ../sass/nested-content-editor.scss */
.nested-content-editor .controls .configure {
  padding: 0 2px;
  cursor: pointer;
  color: #666;
  float: left;
  margin-left: 10px;
}
/* line 93, ../sass/nested-content-editor.scss */
.nested-content-editor .controls .configure:before {
  content: "\f085";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 106, ../sass/nested-content-editor.scss */
.nested-content-editor .b-block:hover > .controls {
  display: block;
}
/* line 111, ../sass/nested-content-editor.scss */
.nested-content-editor .b-nav, .nested-content-editor .b-link, .nested-content-editor .b-accordion-block, .nested-content-editor .b-accordion {
  margin: 4px 2px;
  padding-left: 4px;
  border: 1px dashed #b3b3b3;
}
/* line 117, ../sass/nested-content-editor.scss */
.nested-content-editor .b-nav li {
  list-style: none;
}
/* line 121, ../sass/nested-content-editor.scss */
.nested-content-editor .b-row {
  position: relative;
  min-height: 60px;
}
/* line 125, ../sass/nested-content-editor.scss */
.nested-content-editor .b-row .border {
  cursor: pointer;
  opacity: 0.5;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1px;
  right: 1px;
  border: 1px dashed #b3b3b3;
  padding: 4px;
  background: #e6e6e6;
  margin: 4px 2px;
}
/* line 128, ../sass/nested-content-editor.scss */
.nested-content-editor .b-row .border:hover {
  opacity: 1;
}
/* line 149, ../sass/nested-content-editor.scss */
.nested-content-editor .b-column {
  position: relative;
  min-height: 40px;
}
/* line 151, ../sass/nested-content-editor.scss */
.nested-content-editor .b-column .border {
  cursor: pointer;
  opacity: 0.5;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1px;
  right: 1px;
  border: 1px dashed #d4d4d4;
  padding: 2px;
  background: white;
  margin: 2px;
}
/* line 154, ../sass/nested-content-editor.scss */
.nested-content-editor .b-column .border:hover {
  opacity: 1;
}
